<!DOCTYPE html>
<html>

   <head>
      <title>FCC - Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser Microservice</h1>
         <h3>Part 2 of Free Code Camp Backend Challenges</h3>
        <h4>User Stories</h4>
        <ol>
          <li>I can get the IP address, language and operating system for my browser.</li>
        </ol>
        <h4>Example Usage:</h4>
        <ul>
          <li><a href="https://hodakkm-request-header-parser-microservice.glitch.me/api/whoami">https://hodakkm-request-header-parser-microservice.glitch.me/api/whoami/</a></li>
        </ul>
        <h4>Example Output:</h4>
        <ul>
          <li>{"ipaddress":"136.56.11.212","language":"en-US","software":"Windows 7"}</li>
        </ul>
        
      </div>
   </body>

</html>
